.graphHolder {
  height: 100%;
  width: 100%;
}

.graphHolder .grid line {
  stroke: #555;
}

.graphHolder .grid .domain {
  stroke: none
}

.gf-form-group-code,
.codeEditor {
  width: 100%;
}

.graphHolder .axis line,
.graphHolder .axis path.domain {
  stroke: none;
}